*{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 90px;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    height: 18vh;
    width: 18vh;
    margin-left: 8px;
    font-size: 8vh;
    border-radius: 1rem;
    background-color: white;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.3);
    color: black;
    background-color: blanchedalmond;

}


#reset-btn{
    padding: 1rem;
background-color: black;
font-size: large;
color: #ffff;
border: none;
border-radius: 1rem;
 }
 #newGame-btn{
    padding: 1rem;
background-color: black;
font-size: large;
color: #ffff;
border: none;
border-radius: 1rem;
 }
 #msg{
    color: #ffffc7;
    font-size: 5vmin;
 }
 .msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
 }
 .hide{
    display: none;
 }